header {
    margin-top: 3em;
    margin-bottom: 4em;
}

h1 a {
    text-decoration: none;
    color: black;
    font-size: 2em;
    text-shadow: 2px 2px 15px deeppink;
}

h1 a:visited {
    color: black;
}