h2 {
    font-size: 2em;
    margin-bottom: 1em;
}

input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 2em;
    border-radius: 5px;
    border: 1px solid darkgray;
    font-size: 0.8em;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    text-decoration: underline;
    cursor: pointer;
    text-align: left;
    font-size: 1.2em;
}

th {
    padding-right: 10px;
}

tbody tr:hover {
    background-color: lavenderblush;
}

td {
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.course-code {
    text-transform: uppercase;
}

td a {
    text-decoration: none;
    color: deeppink;
}

td a:hover {
    color: rgb(143, 0, 76);
}

td a:visited {
    color: darkslateblue;
}