body {
    margin: 0 auto;
    font-family: Arial, sans-serif;
    background-color: lightgray;
    font-size: 1.6em;
    line-height: 1.6em;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: white
}
